version 5.224.0
group Main
	source https://www.nuget.org/api/v2
	framework: auto-detect
	storage: none

	nuget Fable.JsonConverter
	nuget FAKE
	nuget FSharp.Control.AsyncSeq
	nuget FSharp.Core
	nuget FSharp.Data
	nuget Newtonsoft.Json
